<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      ID
    </tr>
    <tr>
      NOME
    </tr>
    <tr>
      EMAIL
    </tr>
    <tr>
      CELULAR
    </tr>
  </tbody>
</table>
